@import url('https://fonts.cdnfonts.com/css/lato'); 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

:root {
    --main-gradient: linear-gradient(to bottom right, #333132 0%, #444440 40%, #4d4d4f 90%);
    --black: #000000;
    --darkest: #333132;
    --darker-grey: #444440;
    --dark-grey: #4d4d4f;
    --light-grey: #737373;
    --lightest-grey: #f4f4f4;
    --white: #ffffff;
}

#marius-schutte {
    margin: 0;
    background-color: var(--lightest-grey);
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#marius-schutte > .container {
    width: 50%;
    margin: 0;
}

.c1 {
    position: relative;
}

.c1 > a img {
    width: 115px;
    height: 115px;
    position: absolute;
    top: 0;
    left: 140px;
    z-index: 1;
}

#marius-schutte-profile, 
#marius-schutte-content {
    margin: 0 140px 0 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#marius-schutte-profile {
    align-items: flex-start;
    font-size: 80px;
}

#marius-schutte-profile > img {
    width: 325px;
    height: 325px;
    border-radius: 50px;
    align-self: center;
}

#marius-schutte-profile > h1 {
    font-size: 1em;
    color: var(--darkest);
}

#marius-schutte-profile > h1 > span {
    font-weight: 400;
}

#marius-schutte-profile > p {
    font-size: 0.25em;
    letter-spacing: 7px;
    color: var(--dark-grey);
}

.c2 {
    border-radius: 50px 0 0 50px;
    background-image: var(--main-gradient);
}

#marius-schutte-content {
    align-items: center;
    font-size: 80px;
}

#marius-schutte-content > p {
    margin: 70px 0 70px 0;
    color: var(--lightest-grey);
    font-size: 0.5em;
    font-style: italic;
}

.break {
    height: 3px;
    width: 100%;
    background-color: black;
}

header {
    position: sticky;
    top: 12px;
    z-index: 100;
}

.nav-elements {
    margin: 12px 140px 12px 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

.first-nav-entry {
    font-size: 1.2em;
}

#nav-dropdown-button {
    display: none;
}

.nav-list li {
    margin-left: 10px;
    display: inline;
}

.nav-elements a {
    text-decoration: none;
    color: var(--darker-grey);
}

.nav-elements a:hover {
    color: var(--light-grey);
}

#home,
#about,
#learn,
#contact, 
#learn-more,
#skills,
#prospects, 
#interests,
#qualifications {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#about, 
#contact, 
#qualifications, 
#prospects,
#learn-more-footer {
    background-color: var(--lightest-grey);
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-container {
    width: 50vw;
    margin: 70px 140px 70px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 72px;
}

.section-container > h2 {
    font-size: 1em;
    color: var(--darkest);
}

.section-container > h3 {
    font-size: 0.33em;
}

.section-container > p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 0.28em;
    color: var(--light-grey);
}

.skills-list {
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.qualification-list {
    list-style: none;
    width: 100%;
}

.dropdown-item {
    font-size: 0.33em;
    text-decoration: none;
    font-weight: bold;
    color: var(--darkest);
}

.dropdown-item:hover {
    color: var(--light-grey);
}

.dropdown-item-divider {
    border-bottom: #000000 2px solid;
}

.dropdown-arrow {
    padding-left: 5px;
    transform: rotate(-90deg);
    display: inline-block;
}

.rotated {
    padding-left: 0;
    padding-right: 5px;
    transform: rotate(0deg);
}

.dropdown-content {
    display: none;
}

.dropdown-content table,
.dropdown-content p {
    color: var(--light-grey);
    font-size: 0.25em;
}

.dropdown-content table {
    color: var(--black);
    margin: 20px 0 20px 0;
}

.dropdown-content p {
    padding: 20px 0 0 0;
    border-top: #000000 1px solid;
} 

.dropdown-content th:nth-child(-n+3) {
    width: 15%;
}

.dropdown-content td {
    vertical-align: top;
}

.learn-more-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.learn-more-buttons a {
    font-size: .33em;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    background-color: transparent;
    color: var(--darkest);
    border: var(--darkest) 3px solid;
    border-radius: 50px; 
}

#learn-more-button {
    color: var(--white);
    background-color: var(--darkest);
    border: none;
}

#contact-form {
    margin-top: 30px;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    gap: 10px;
}

#contact-form-name {
    width: 50%;
}

#contact-form-number {
    width: 50%;
}

#contact-form-email {
    height: 10%;
}

#contact-form-message {
    height: 50%;
}

#contact-form button {
    height: 15%;
}

.section-container form input,
.section-container form textarea,
.section-container form button {
    border: none;
    border-radius: 50px;
    background-color: var(--white);
    padding: 10px 20px 10px 20px;
}

.section-container form input::placeholder,
.section-container form textarea::placeholder {
    color: var(--light-grey);
    font-size: 1rem;
    font-weight: bold;
}

.section-container form input:active,
.section-container form textarea:active {
    color: var(--light-grey);
    font-size: 1rem;
}

.section-container form textarea {
    border-radius: 25px;
}

.section-container form button {
    color: var(--white);
    background-color: var(--darkest);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    font-size: 1rem;
}

footer div {
    margin: 12px 140px 12px 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    color: var(--black);
    list-style: none;
}

#learn-more-footer div {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer li {
    display: inline;
    margin-left: 10px;
}

footer a {
    color: var(--black);
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 14px;
    }

    .c1 > a img {
        width: 100px;
        height: 100px;
    }

    #marius-schutte-profile {
        font-size: 70px;
    }

    #marius-schutte-profile > img {
        width: 275px;
        height: 275px;
    }

    #marius-schutte-profile > h1 {
        font-size: 0.8em;
    }

    #marius-schutte-profile > p {
        letter-spacing: 6px;
    }

    #marius-schutte-content {
        font-size: 70px;
    }

    #marius-schutte-content > p {
        margin: 60px 0 60px 0;
    }

    .nav-elements {
        font-size: 16px;
    }

    .section-container {
        font-size: 62px;
    }

    .learn-more-buttons a {
        padding: 10px 30px 10px 30px;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }

    .c1 > a img {
        width: 90px;
        height: 90px;
        left: 115px;
    }

    #marius-schutte-profile,
    #marius-schutte-content {
        margin: 0 115px 0 115px;
    }

    #marius-schutte-profile {
        font-size: 60px;
    }

    #marius-schutte-profile > img {
        width: 250px;
        height: 250px;
    }

    #marius-schutte-profile > h1 {
        font-size: 0.8em;
    }

    #marius-schutte-profile > p {
        letter-spacing: 5px;
    }

    #marius-schutte-content {
        font-size: 60px;
    }

    #marius-schutte-content > p {
        margin: 55px 0 55px 0;
    }

    .nav-elements {
        margin-left: 115px;
        margin-right: 115px;
        font-size: 14px;
    }

    .section-container {
        font-size: 52px;
        margin: 50px 115px 50px 115px;
    }

    #contact-form {
        height: 40vh;
    }

    footer div {
        margin-left: 115px;
        margin-right: 115px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 10px;
    }

    .c1 > a img {
        width: 75px;
        height: 75px;
        left: 100px
    }

    #marius-schutte-profile,
    #marius-schutte-content {
        margin: 0 105px 0 105px;
    }

    #marius-schutte-profile {
        font-size: 50px;
    }

    #marius-schutte-profile img {
        width: 175px;
        height: 175px;
    }

    #marius-schutte-profile > p {
        letter-spacing: 4px;
    }

    #marius-schutte-content {
        font-size: 50px;
    }

    #marius-schutte-content > p {
        margin: 40px 0 40px 0;
    }

    .nav-elements {
        margin-left: 105px;
        margin-right: 105px;
        font-size: 12px;
    }

    .section-container {
        font-size: 42px;
        margin: 45px 105px 40px 105px;
    }

    .learn-more-buttons {
        margin-top: 20px;
    }

    .learn-more-buttons a {
        padding: 10px 20px 10px 20px;
    }

    #contact-form {
        margin-top: 20px;
    }

    footer div {
        margin-left: 105px;
        margin-right: 105px;
    }
}

@media screen and (max-width: 768px) {
    #marius-schutte {
        flex-direction: column;
    }

    #marius-schutte > .container {
        width: 100%;
        height: 50%;
    }

    .c1 > a img {
        width: 65px;
        height: 65px;
    }

    #marius-schutte-profile > p {
        letter-spacing: 3px;
    }

    .c2 {
        border-radius: 50px 50px 0 0;
    }

    #marius-schutte-content > p {
        margin: 25px 0 25px 0;
    }

    .break {
        height: 2px;
    }

    .nav-list li {
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .nav-dropdown-content {
        display: none;
    }

    #nav-dropdown-button {
        display: block;
        justify-self: flex-end;
    }

    .section-container {
        font-size: 52px;
    }

    .section-container > h2 {
        text-align: center;
    }

    .section-container > h3 {
        text-align: center;
        font-size: 0.28em;
    }

    .section-container > p {
        font-size: 0.23em;
        margin-top: 10px;
    }

    .learn-more-buttons {
        margin-top: 10px;
    }

    .learn-more-buttons a {
        padding: 5px 20px 5px 20px;
        font-size: .23em;
    }

    #contact-form {
        height: 50vh;
        margin-top: 10px;
        width: 60vw;
    }

    .contact-container {
        flex-wrap: wrap;
        height: 30%;
        width: 100%;
    }

    #contact-form-name {
        width: 100%;
    }

    #contact-form-number {
        width: 100%;
    }

    #contact-form-message {
        height: 40%;
    }

    footer li {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }

    .c1 > a img {
        width: 60px;
        height: 60px;
        left: 70px;
    }

    #marius-schutte-profile,
    #marius-schutte-content {
        margin: 0 70px 0 70px;
    }

    #marius-schutte-profile {
        font-size: 40px;
    }
    
    #marius-schutte-profile > p {
        letter-spacing: 3px;
    }

    #marius-schutte-content {
        font-size: 40px;
    }

    .nav-elements {
        margin-left: 70px;
        margin-right: 70px;
        font-size: 10px;
    }

    .section-container {
        margin: 35px 70px 35px 70px;
        font-size: 42px;
    }

    footer div {
        margin-left: 70px;
        margin-right: 70px;
    }
}


