@import url('https://fonts.cdnfonts.com/css/lato'); 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

:root {
    --main-gradient: linear-gradient(to bottom right, #333132 0%, #444440 40%, #4d4d4f 90%);
    --black: #000000;
    --darkest: #333132;
    --darker-grey: #444440;
    --dark-grey: #4d4d4f;
    --light-grey: #737373;
    --lightest-grey: #f4f4f4;
    --white: #ffffff;
}

#marius-schutte {
    margin: 0;
    background-color: var(--lightest-grey);
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#marius-schutte > .container {
    width: 50%;
    margin: 0;
}

.c1 {
    position: relative;
}

.c1 > a img {
    width: 115px;
    height: 115px;
    position: absolute;
    top: 0;
    left: 140px;
    z-index: 1;
}

#marius-schutte-profile, 
#marius-schutte-content {
    margin: 0 140px 0 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#marius-schutte-profile {
    align-items: flex-start;
}

#marius-schutte-profile > img {
    width: 325px;
    height: 325px;
    border-radius: 50px;
    align-self: center;
}

#marius-schutte-profile > h1 {
    font-size: 82px;
    color: var(--darkest);
}

#marius-schutte-profile > h1 > span {
    font-weight: 400;
}

#marius-schutte-profile > p {
    font-size: 25px;
    letter-spacing: 7px;
    color: var(--dark-grey);
}

.c2 {
    border-radius: 50px 0 0 50px;
    background-image: var(--main-gradient);
}

#marius-schutte-content {
    align-items: center;
}

#marius-schutte-content > p {
    margin: 67px 0 67px 0;
    color: var(--lightest-grey);
    font-size: 42px;
    font-style: italic;
}

.break {
    height: 3px;
    width: 100%;
    background-color: black;
}

header {
    position: sticky;
    top: 12px;
    z-index: 100;
}

.nav-elements {
    margin: 12px 140px 12px 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-elements {
    list-style: none;
    font-weight: bold;
}

.nav-list li {
    display: inline;
}

.nav-elements a {
    text-decoration: none;
    color: var(--darker-grey);
}

.nav-elements a:hover {
    color: var(--light-grey);
}

.nav-elements {
    font-size: 20px;
}

.first-nav-entry {
    font-size: 24px;
}

.nav-list li {
    margin-left: 10px;
}

#home,
#about,
#learn,
#contact, 
#learn-more,
#skills,
#prospects, 
#interests,
#qualifications {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#about, 
#contact, 
#qualifications, 
#prospects,
#learn-more-footer {
    background-color: var(--lightest-grey);
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-container {
    width: 50vw;
    margin: 70px 140px 70px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-container > h2 {
    font-size: 72px;
    color: var(--darkest);
}

.section-container > h3 {
    font-size: 24px;
}

.section-container > p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    color: var(--light-grey);
}

.skills-table {
    margin-top: 20px;
    font-size: 17px;
}

.skills-list {
    margin-top: 20px;
    font-size: 20px;
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#qualifications > div {
    margin-bottom: 0;
}

.dropdown-container {
    margin: 20px 0 70px 0;
    width: 50vw;
}

.dropdown-container ul {
    list-style: none;
}

.dropdown-item {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: var(--darker-grey);
}

.dropdown-item:hover {
    color: var(--light-grey);
}

.dropdown-item-divider {
    border-bottom: #000000 2px solid;
}

.dropdown-arrow {
    padding-left: 5px;
    transform: rotate(-90deg);
    display: inline-block;
}

.rotated {
    padding-left: 0;
    padding-right: 5px;
    transform: rotate(0deg);
}

.dropdown-content {
    display: none;
}

.dropdown-content table,
.dropdown-content p {
    color: var(--light-grey);
    font-size: 18px;
}

.dropdown-content table {
    margin: 10px 0 10px 0;
}

.dropdown-content p {
    margin: 0 0 10px 0;
    padding: 10px 0 10px 0;
    border-top: #000000 1px solid;
} 

.dropdown-content th:nth-child(-n+3) {
    width: 10%;
}

.learn-more-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.learn-more-buttons a {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    background-color: transparent;
    color: var(--darkest);
    border: var(--darkest) 3px solid;
    border-radius: 50px; 
}

#learn-more-button {
    color: var(--white);
    background-color: var(--darkest);
    border: none;
}

.section-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 30px;
    height: 50vh;
    width: 100%;
}

#contact-form-name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#contact-form-number {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#contact-form-email {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#contact-form-message {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#contact-form button {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.section-container form input,
.section-container form textarea,
.section-container form button {
    border: none;
    border-radius: 50px;
    background-color: var(--white);
    padding: 10px 20px 10px 20px;
}

.section-container form input::placeholder,
.section-container form textarea::placeholder {
    color: var(--light-grey);
    font-size: 16px;
    font-weight: bold;
}

.section-container form input:active,
.section-container form textarea:active {
    color: var(--light-grey);
    font-size: 16px;
}

.section-container form textarea {
    border-radius: 25px;
}

.section-container form button {
    color: var(--white);
    background-color: var(--darkest);
    border: none;
    font-size: 24px;
    font-weight: bold;
}

footer div {
    margin: 12px 140px 12px 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    color: var(--black);
    list-style: none;
}

#learn-more-footer div {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer li {
    display: inline;
    margin-left: 10px;
}

footer a {
    color: var(--black);
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    #marius-schutte {
        background-color: red;
    }
}

@media screen and (max-width: 1024px) {
    #marius-schutte {
        background-color: saddlebrown;
    }
}

@media screen and (max-width: 768px) {
    #marius-schutte {
        background-color: violet;
    }
}

@media screen and (max-width: 480px) {
    #marius-schutte {
        background-color: aquamarine;
        flex-direction: column;
    }

    #marius-schutte > .container {
        width: 100%;
        height: 50%;
    }

    .c1 > a img {
        width: 60px;
        height: 60px;
        left: 70px;
    }

    #marius-schutte-profile,
    #marius-schutte-content {
        margin: 0 70px 0 70px;
    }

    #marius-schutte-profile > img {
        width: 180px;
        height: 180px;
    }

    #marius-schutte-profile > h1 {
        font-size: 42px;
    }

    #marius-schutte-profile > p {
        font-size: 15px;
        letter-spacing: 3px;
    }

    .c2 {
        border-radius: 50px 50px 0 0;
    }

    #marius-schutte-content > p {
        margin: 45px 0 45px 0;
        font-size: 22px;
    }

}


